.contenedor{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    border: 1px solid black;
    border-radius: 8px;
    justify-content: space-evenly;
    gap: 20px;
}

.articulo{
    background-color: blanchedalmond;
    width: 400px;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    
}

.articulo img{
    width: 100px;
}

.boton{
    margin-top: 200px;
    margin: 0px auto;
}