* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

button {
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0px;
}

.card {
  width: 25%;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

.card p:first-of-type {
  font-size: 1.5rem;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
