*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards{
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    border: 1px solid rgb(248, 232, 232);
}

.filtro{
    margin-bottom: 20px;
}